.row {
    display: flex;
    margin-bottom: 2em;
}

.all {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('./cci/space.jpg');
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main > * {
    margin-top: 1em;
    margin-bottom: 1em;
}
  
.column {
    flex: 50%;
}

.all > * {
    margin-bottom: 2em;
}

.wrapper {
    width: 100%;
    overflow: auto;
    padding: 1%;
  }
  
  
  /* Container to make absolute positioning easier on psuedo element */
  .image_container {
    position: relative;
    overflow: auto;
    padding: 0;
    margin: 0;
  }
  
  .image_container img {
    width: 30em;
    height: 20em;
    display: block;
  }
  
  /* Structure for ::before element */
  .image_container::before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    opacity: 0;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
    content: 'Click To Enlarge';
    text-align: center;
    font-size: large;
  }
  
  /* Hover state for container to show ::before on mouseover */
  .image_container:hover::before {
    opacity: 1;
    cursor: pointer;
  }
  
